.full-menu {
	&__wrapper {
		@include media-min(540px) {
			display: flex;
			column-gap: 20px;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__title {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.4;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__link {
		text-decoration: underline;
		color: #85899c;
		transition: color 0.2s ease-in;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}
