.top-nav {
  display: flex;
  align-items: center;

  @include media-max(992px) {
    flex-direction: column;
    align-items: flex-end;
  }

  @include media-max(480px) {
    align-items: center;
  }

  &__link {
    padding: 2px 5px;

    &:not(:last-child) {
      margin-right: 40px;

      @include media-max(1200px) {
        margin-right: 20px;
      }

      @include media-max(992px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &--active {
      color: var(--color-primary-1);
      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }

    // TODO Придумать красывый ховер для ссылок
    //@media (any-hover) {
    //  &:hover:not(.top-nav__link--active) {
    //    text-decoration: underline;
    //  }
    //}

    @include media-max(992px) {
      font-size: 20px;
    }
  }
}